svg {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  cursor: grab;
  border: 1px solid black;
  background-color: whitesmoke;
  touch-action: none;
  width: 100%;
  height: 100%;
}

.panning {
  cursor: grabbing;
}
